/* .navbar-fixed-top {height:85px;}
.navbar {min-height:85px;}
.navbar-nav {padding:15px 0;} */

 .navbar-brand
{
    margin: 0;
    padding: 0;
    max-height: 80px;
    padding-left: 10px;
    /* padding-bottom: 20px; */
    /* padding-left: 50px; */

}

.color-nav
{
    background-color: rgb(100, 96, 105);
    max-height: 80px;
 
}

.navbar-img
{
       margin: 0;
    padding-left: 50px;
 
    /* max-height: 100px; */
}

.textHead
{
    
    padding-top: 20px;
    color: rgb(245, 245, 245);
}